@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{

    background: rgb(105, 58, 96);	
}


body::-webkit-scrollbar {
    width: 2px;    
}

body::-webkit-scrollbar-thumb {
    background-color: #a5afb3;
    border-radius: 4px;
}

h2{
    color: #8ef579;
}